<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>APB</title>
        <link rel="icon" href="/assets/pictures/chuck-norris.png" />
        <% include stylesheets %>
        <link rel="stylesheet" href="/assets/css/departments.css"/>

    </head>
    <body>
        <% include header %>
        <main class="text-center">
            <div id="map" class="">

            </div>
        </main>
        <% include footer %>
        <% include scripts %>
        <script src="/assets/js/departments.js"></script>
    </body>
</html>
