<footer class="fixed-bottom page-footer font-small blue">
    <div class="row">
      <div class="col-sm footer-copyright text-center py-3">
          <p>©2020 APBFilter</p>
      </div>
    </div>
</footer>