<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>APB</title>
        <link rel="icon" href="/assets/pictures/chuck-norris.png" />
        <% include stylesheets %>
        <link rel="stylesheet" href="/assets/css/index.css"/>

    </head>
    <body>
        <main>
            <div id="map" class="">

            </div>
            <div class="tooltip"></div>
        </main>
        <% include scripts %>
        <script src="/assets/js/index.js"></script>
    </body>
</html>
