<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>APB</title>
        <link rel="icon" href="/assets/resources/logo.png" />
        <% include stylesheets %>
        <link rel="stylesheet" href="/assets/css/index.css"/>
    </head>
    <body>
        <% include header %>
        <main class="text-center">
            <img src="/assets/resources/apb2017.jpg"/>
        </main>
        <% include footer %>
        <% include scripts %>

        <script src="/assets/js/index.js"></script>
    </body>
</html>
